* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 50vh;
    width: 100%;
    background-image: url(img/pexels-熊大-旅遊趣-3389955.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 0 0 1000px 1000px / 0 0 200px 200px;

}

.header nav {
    display:inline-block ;
    justify-content: space-between;
    position: absolute;
    left: 80%;
    margin-top: 30px;
    width: 100%;
}

 nav a {
    padding-left: 10px;
    border: 1px solid;
    text-decoration: none;
   color: white;
   padding: 7px 20px;
   border-radius: 50px;
   cursor: pointer;
}

.nav a:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    transition: 0.5s;
}

nav .naviguer {
    background-color: #25C25A;
}
nav .identifier {
    background-color: #4C4C4C;

} 
.slog {
    
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.slog h1 {
    font-weight: 700;
    font-size: 40px;
}

.flight {
    position: relative;
}

.menu {
    width: 900px;
    height: 100px;
    padding: 100px;
    border: white solid;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(114, 114, 114, 0.25);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.small-container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1500px;
}

.search {

    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center;
    height: 100%;
    

}

.text-input {
    
    
    flex-basis: 31%;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.search input {
    width: 260px;
    height: 70px;
    border-radius: 25px;
    border: 1px solid #AFAFAF ;
    margin-top: -50px;
}

.btn {
    padding: 13px 40px;
    border-radius: 50px;
    border: none;
    background-color: #25C25A;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}   

.btn:hover {
    background-color: white;
    border: #25C25A solid;
    color: #25C25A;
    transition: 0.5s;
}



.search-btn {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
}

.search input::placeholder {
   transform: translate(7%, -105%);
   color: #A2A2A2;
}

.text-input .fa  {
   position: absolute;
   left: 8%;
   top: 11%;
   font-size: 22px;
}

.text-input p {
    position: absolute;
    bottom: 46px;
    left: 11px;
    font-size: 13px;
    color: #A2A2A2;
}

.text-input input {
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 600;
}

.destination {
    width: 80%;
    text-align: center;
    margin: auto;
    
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.dest-col {
    flex-basis: 31%;
    margin-bottom: 19%;
    text-align: left;

}

.dest-col img {
    width: 100%;
    height: 90%;
    border-radius: 30px;
}

.destination h2 {
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    font-weight: 600;
    
}

.dest-col h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 550;
}

.dest-col .fa {
    color: #ffc94b !important;
    margin-top: 10px;
}

.company {
    width: 80%;
    text-align: center;
    margin: auto;
}

.comp-col {
    flex-basis: 20%;
    margin-bottom: 1%;
    margin-top: -20px;

}

.comp-col img {
    width: 100%;
   
}

.company h2 {
   
    font-size: 30px;
    font-weight: 600;
}

.dest-col p {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    padding: 0;
    line-height: 22px;
    margin-top: 10px;
}

.imag-dest {
    width: 80%;
    margin: auto;
}

.imag-dest{
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px auto;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
    
}

.imag-dest h1 {
    color: #fff;
    
    margin-bottom: 40px;
    font-weight: 600;
    padding: 10px 0;
    
}

.inline-block {
    display: inline-block;
    border: 1px #fff solid;
    padding: 8px 17px ;
    font-size: 13px;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
}

.inline-block:hover {
    border: 1px #25C25A;
    background: #25C25A;
    transition: 1s;
    

}

.Footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.Footer h4 {
    margin-bottom: 20px;
}

.Footer p {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    padding: 10px;
    line-height: 22px;
}

.icon .fa {
    color: #25C25A;
    padding: 30px 0;
    margin: 0 13px;
    
}

/*---------------login Page --------------*/

.login-page {
    height:  100vh; 
  width:  100vw;
   position: relative;
  
}

.login-col {
    margin: 0 0 ;
}


.login-col img {
    float: right;
    max-width: 60%;
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.row-page {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
}


.login-col-input {
    position: absolute;
    display: grid;
    width: 30%;
    margin: auto;
    top: 25%;
    left: 5%;
    
}

.login-col-input input {
    width: 100%;
    height: 14%;
    margin-bottom: 10%;
    border: #25C25A solid;
    border-radius: 13px;
    box-sizing: border-box;
    padding-left: 40px;
    font-size: 20px;

}

.login-col-input h1 {
    margin-bottom: 15%;
    margin-top: -70px;
}

.login-col-input h1 {
    font-size: 45px;
   
}

label {
    margin-bottom: 10px;
    display: block;
    color: #AFAFAF;
}

.login-col-input h3 {
    text-align: left;
    color: #A2A2A2;
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 20px;
}

.login-btn {
    padding: 10px 20px;
    border: #25C25A solid;
    background-color: #fff;
    color: black;
    
  
}

.login-btn:hover {
    background-color: #25C25A;
    border: #25C25A;
    color: #fff;
    transition: 0.5s;
    
}

.login-col-input h4 {
    margin-top: 25px;
    font-weight: 400;
    color: #AFAFAF;

}

.login-col-input a {
    color: #25C25A;
}

.signup h1 {
    margin-top: -30%;
    margin-bottom: 10px;
}

.signup input {
    height: 11%;
    margin-bottom: 20px;
}

.signup label {
    margin-bottom: 20px;
    display: block;
}

.login .fa {
    position: absolute;
    right: 95%;
    top: 30px;
    font-size: 25px;
    font-weight: 100;
    color: #25C25A;
}

.big-container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
}

  

  .menu-1 .btn2 {
    margin-top: -50px;
  
    
  }
  hr {
    position: relative;
    top: 50px;
    width: 100%;
    
   
    
    right: 80%;
  }
  

  .menu-1 {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column
  }

  .container {
    margin: auto;
    width: 100%;
    position: relative;
  }

  .container nav{
    display: inline-block;
    justify-content: space-between;
   position: absolute;
   left: 80%;
    margin-top: -170px;
    width: 100%;

  }
  .hr hr {
    width: 100%;
    position: relative;
    left: 0%;
  }
  .menu-1 .text-input {
    flex-basis: 30%;
  }

  .tickets {
    width: 80%;
    margin: auto;
    
  }

  .ticket-container {
    margin-top: 150px;
    border: 4px red solid;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    
    
  }

  .ticket-container .col-item {
    margin-left: 30px;
    border: #AFAFAF;
  }

  .col-item p {
    color: #A2A2A2;
  }
  .col-item h2 {
    text-align: center;
  }

  .item-prix {
    background-color: #25C25A;
    height: 100%;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    
  }
  .item-prix h2 {
    margin-top: 40%;
    color: #fff;
  }

.btn-offre {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: #DF7E0D;
    color: #fff;
    margin-top: 10px;
}

.btn-offre:hover {
    border: 1px solid #DF7E0D;
    background-color: white;
    color: #DF7E0D;
    transition: 0.5s;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .content-to-loaded {
   background-color: #fff;
   width: 350px;
   height: 250px;
   border: 1px #AFAFAF solid;
   border-radius: 20px;
   padding-left: 10px;
   padding-top: 10px;
  }

  .modal-content h3 {
    margin-bottom: 50px;
  }

  .info-arp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
  }

  .info-arp h2 {
    font-weight: 600;
    font-size: 20px;
  }

  .heure-modal {
    margin-right: 90px;
  }

  .aeroport-arv {
    padding-right: 10px;
  }

  .date-vol {
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
    color: #A2A2A2;
  }

  .info-arp .fa {
    text-align: center;
    padding-right: 40px;
    font-size: 20px;
    margin-left: -35px;
    color: #25C25A;
    padding-top: 6px;
  }

  .compagnie-modal {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .prix-modal {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .distance {
    font-weight: 600;
    font-size: 18px;

  }

  .boutons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .btn-reserver {
    width: 100px;
    height: 35px;
    text-align: center;
    margin-right: 30px;
    background-color: #25C25A;
    color: white;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
  }

  .btn-reserver:hover {
    background-color: white;
    border: #25C25A 1px solid;
    color: #25C25A;
    transition: 0.5s;
  }
  .btn-ajouter {
    width: 150px;
    height: 35px;
    background-color: #4C4C4C;
    color: white;
    border: 1px solid #AFAFAF;
    border-radius: 15px;

  }

  .btn-ajouter:hover {
    background-color: white;
    border: #4C4C4C 1px splid;
    color: #4C4C4C;
    transition: 0.5s;
  }

.paiement {
    width: 90%;
    margin: center;
    text-align: center;
}
.info-paiement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 450px;
    height: 600px;
    text-align: left;
    
}
.info-paiement h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.paiement-input {
    position: relative;
}

.paiement-input input {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    border: 1px solid #AFAFAF;
    
    
}

.info-cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-cart input {
    flex-basis: 48%;
}

.paiement-input p {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    color: #AFAFAF;
}
input::placeholder {
    color: #AFAFAF;
    font-size: 15px;
       
}
.paiement-input .fa {
    position: absolute;
    left: 90%;
    top: 30px;
    font-size: 25px;
    color: #AFAFAF;
}

.paiement-input input {
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.info-paiement .fa-chevron-left {
    font-size: 20px;
    color: #25C25A;
    cursor: pointer;
    
}
.info-paiement .a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.retour {
    margin-bottom: 50px;
}

.info-paiement h3 {
    margin-top: 15px;
    font-weight: 500;

}

.btn-paiement {
    width: 100%;
    height: 45px;
    background-color: #25C25A;
    color: white;
    border: 1px solid #AFAFAF;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-paiement:hover {
    background-color: white;
    border: 1px solid #25C25A;
    color: #25C25A;
    transition: 0.5s;
}

.checkbox .condition {
    font-size: 13px;
    color: #AFAFAF;
    margin-top: 10px;
}
#check1 {
    margin-top: 10px;
}

input[type = "checkbox"] {
    height: 20px;
    width: 20px;
    
}

.error-message {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: salmon;
    color: white;
}

.error-login {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: salmon;
    color: white;
}

.success-message {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: rgb(138, 230, 138);
    color: white;
}

.success-login {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: rgb(138, 230, 138);
    color: white;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f4f4f4;
}

.suggestions-container {
    display: none;
}








  
